@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1b1b1b;
  overflow-x: hidden;
  color: white;
}

@font-face {
  font-family: "NB International Pro";
  src: url("../public/fonts/NBInternationalProBoo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.nFont {
  font-family: "NB International Pro", sans-serif;
}

@font-face {
  font-family: "Rejoice Headline";
  src: url("../public/fonts/Rejouice-Headline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.hFont {
  font-family: "Rejoice Headline", sans-serif;
}